.group-6{
	background-image: url('../assets/group-6/background.jpg');
	background-repeat: no-repeat;  
  	background-size: 100%;
  	width: 1326px;
  	height: 525px;
  	margin: 10px auto 66px;
  	display: flex;
  	justify-content: space-between;
  	color: #fff;
  	font-family: 'Bebas Neue', cursive;
}

.group-6 .logo{
	margin: 84px 0 0 43px;
}

.group-6 a{
	color: #fff;
}

.group-6 div:first-child > div:nth-of-type(1){
	font-family: 'Montserrat', sans-serif;
	line-height: 25px;
	width: 510px;
	margin: 37px 0 0 43px;
}

.group-6 div:first-child > div:nth-of-type(2){
	margin: 162px 0 0 43px;
}

.group-6 > div:last-child{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.group-6 div:last-child > div{
	display: flex;
	font-size: 21px;
	letter-spacing: 1px;
}

.group-6 div:last-child > div:nth-of-type(1){	
	margin: 238px 126px 0 0;
}

.group-6 div:last-child > div:nth-of-type(2){
	margin: -144px 126px 0 0;
}

.group-6 div:last-child > div:nth-of-type(3){
	align-self: flex-end;
	margin: 0 30px 22px 0;
}

.group-6 .location, .email{
	margin-right: 34px;
}

.group-6 .instagram, .facebook, .twitter{
	margin-right: 12px;
}