@import 'theme';
@import 'mixin';

header{	
	.mobileMenu{
		display: none;
	}

	.show{
		display: block;
	}

	> a{
		align-self: center;
		width: 122px;
		height: 40px;
	}

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: auto;
	padding: 20px;

	.menu{
		@include button3;
		grid-area: 1 / 2;
		justify-self: right;
		border-radius: 6px;
		position: relative;

		img{
			position: absolute;
			width: 100%;
			height: 40px;
			top: 0;
			left: 0;
		}

		.topImg{
			transition: opacity 200ms;
		}

		.bottomImg {
			opacity: 0;
			transition: opacity 200ms;
		}

		transition: width 200ms
	}	

	.menu:hover
	{
		width: 160px;

		.topImg{
			opacity: 0;
		}

		.bottomImg {
			opacity: 1;
		}
	}

	nav{		
		grid-area: 2 / 1 / 2 / 3;
		justify-self: right;
	}

	ul{
		@include f-fs-fe;
		flex-direction: column;
	}
}

@media (min-width: 768px){
	header{
		
	}
}

@media (min-width: 1024px){	
	
	header{	
		grid-template-columns: 1fr 2fr 1fr;

		.menu{
			display: none;
		}

		.mobileMenu{
			display: block;
		}			
		
		nav{
			@include f-sa-c;
			grid-area: 1 / 2;
			justify-self: unset;
		}
	
		ul{
			@include f-sa-c;
			width: 100%;
			flex-direction: unset;
		}
	
		a{
			@include caps;
		}
	
		a:hover{
			font-weight: 600;
		}
	
		h3{
			text-transform: none;
		}
	
		.join{
			@include f-fe-c;
			grid-column: 3;
			column-gap: 22px;
		}
	
		button{
			@include caps;
			@include button;
			font-weight: 600;
		}
	
		button:hover{
			background: $colorYellow2;
		}
	}
}