$fontFamily: 'Montserrat', sans-serif;
$fontFamily2: 'Work Sans', sans-serif;

$colorLightGrey: #f6f5f4;
$colorGrey: #cdccce;
$colorYellow: #ffcc01;
$colorYellow2: #f2c200;
$colorLightBlue: #96bece;
$colorLightBlue2: #b1d7e8;
$colorBlue: #8da4be;
$colorBlue2: #919eb1;
$colorDarkGreen: #1f373d;