@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');
// font-family: 'Courier Prime', monospace;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
// font-family: 'Open Sans', sans-serif;

// Day 1

.day1{	
	font-family: 'Courier Prime', monospace;
	background: linear-gradient(45deg, #43389f, #4ec6ca);

	.nuber{
		margin-top: 110px;
		display: flex;
		position: absolute;
		left: 82px;
		text-align: center;

		.firstOne, .secondOne{
			border-radius: 3px;
		}

		.firstOne{
			border-radius: 5px 3px 3px;
			height: 40px;
			width: 20px;
			transform: translate(5px) rotate(45deg);
		}

		.secondOne{
			z-index: 3;
			height: 100px;
			width: 24px;
		}

		.firstZero, .secondZero{
			height: 52px;
			width: 52px;
			background: transparent;
			border: solid 24px #fff;
			border-radius: 50%;
		}

		.firstZero{
			z-index: 2;
			transform: translate(-7px);
		}

		.secondZero{
			transform: translate(-24px);
		}
	}

	h1{
		position: absolute;
		top: 148px;
		left: 100px;
		background: transparent;
		font-size: 82px;
		font-weight: 400;
	}

	h3{
		position: absolute;
		top: 251px;
		left: 107px;
		background: transparent;
		font-size: 23px;
		font-weight: 400;
	}

	.infoIcon{
		filter: invert(100%);
	}
}

// Day 2

.day2{	
	display: flex;
	justify-content: center;
	align-items: center;
	background: #3faf82;

	.menuButton{
		position: relative;
		width: 80px;
		height: 80px;
		background: none;
		border: none;
		padding: 0;
	}

	.lines{
		position: absolute;
		width: 100%;
		height: 8px;
		border-radius: 3px;
		filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.3));
		
		transition: background 600ms, width 600ms, top 600ms, bottom 600ms, transform 600ms;
	}

	.lineOne{
		top: 14px;
	}

	.lineTwo{
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.lineThree{
		bottom: 14px;
	}

	.infoIcon{
		filter: invert(100%);
	}	

	.menuButton:hover{
		cursor: pointer;
	}

	.menuButton:focus{
		.lineOne{
			top: 50%;
			transform: translateY(-50%) rotate(-315deg);
		}

		.lineTwo{			
			width: 0%;
			background: transparent;
		}

		.lineThree{
			bottom: 50%;
			transform: translateY(50%) rotate(315deg);
		}
	}

	.note{
		position: absolute;
		bottom: 10px;
		left: 10px;
		color: #fff;
		margin: unset;
		font-family: 'Open Sans', sans-serif;
		width: 350px;
	}
}

// Day 3

.day3{
	background: #272c34;
	display: flex;
	justify-content: center;
	align-items: center;

	.infoIcon{
		filter: invert(100%);
	}

	.circle{
		position: relative;
		width: 180px;
		height: 180px;
		border-radius: 50%;
		background: linear-gradient(#7ddffc 124px, #f0de75 56px);
		overflow: hidden;

		.sunPath{
			position: relative;
			width: 150%;
			height: 150%;
			top: 7px;
			left: 50%;
			transform: translateX(-50%) rotate(-28deg);
			animation: sunPath 4s ease-in-out infinite;
		}

		.sun{
			position: absolute;
			width: 34px;
			height: 34px;
			border-radius: 50%;
			background: #ffef00;
			left: 50%;
			transform: translateX(-50%);			
		}

		.pyramid{
			position: absolute;
			width: 116px;
			height: 57px;
			top: 67px;
			left: 50%;
			transform: translateX(-50%);
		}

		.pyramidLeft{
			background: #f2f2f2;
			clip-path: polygon(0 100%, 59px 0, 76px 100%);
			animation: pyramidLeft 4s ease-in infinite;
		}

		.pyramidRight{
			background: #dad7d8;
			clip-path: polygon(75px 100%, 58px 0, 100% 100%);
			animation: pyramidRight 4s ease-in infinite;
		}	

		.shadow{
			position: absolute;
			width: 100%;
			height: 30px;
			background: rgba(0, 0, 0, 0.2);
			bottom: 26px;
			clip-path: polygon(32px 0, 148px 0, 50% 12px);
			animation: shadow 4s linear infinite;

		}
	}

	.fade{
		position: absolute;
		width: 180px;
		height: 180px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #272c34;
		animation: fade 4s ease-in-out infinite;
	}
}

@keyframes sunPath{
	0% { transform: translateX(-50%) rotate(-90deg); }
	30% { transform: translateX(-50%) rotate(-28deg); }
	100% { transform: translateX(-50%) rotate(90deg); }
}

@keyframes pyramidLeft{
	0%, 30% { background: #f2f2f2; }
	70%, 100% { background: #dad7d8; }
}

@keyframes pyramidRight{
	0%, 30% { background: #dad7d8; }
	70%, 100% { background: #f2f2f2; }
}

@keyframes shadow{
	0% { clip-path: polygon(32px 0, 148px 0, calc(100% + 30px) 0); }
	30% { clip-path: polygon(32px 0, 148px 0, calc(100% + 30px) 100%); }
	55% { clip-path: polygon(32px 0, 148px 0, 50% 12px); }
	75% { clip-path: polygon(32px 0, 148px 0, -30px 100%); }
	100% { clip-path: polygon(32px 0, 148px 0, -30px 0); }
}

@keyframes fade{
	0%, 100% { background: #272c34; }
	30%, 70% { background: transparent; }
}

// Day 4

.day4{
	background: #e56262;

	.infoIcon{
		filter: invert(100%);
	}

	.circle{
		border-radius: 50%;
	}

	.circle1{
		width: 90px;
		height: 90px;
		animation: circle1 2s cubic-bezier(0.2, 1, 0.6, 1) infinite alternate;
	}

	.circle2{
		width: 60px;
		height: 60px;
		animation: circle2 2s cubic-bezier(0.2, 1, 0.6, 1) infinite alternate;
	}

	.circle3{
		width: 30px;
		height: 30px;
		animation: circle3 2s cubic-bezier(0.2, 1, 0.6, 1) infinite alternate;
	}
}

@keyframes circle1{
  0%, 10% { width: 0; height: 0; }
  100% { width: 90px; height: 90px; }
}

@keyframes circle2{
  0%, 40% { width: 0; height: 0; }
  100% { width: 60px; height: 60px; }
}

@keyframes circle3{
  0%, 70% { width: 0; height: 0; }
  100% { width: 30px; height: 30px; }
}

// Day 5

.day5{
	background: #42a7a1;
	font-family: 'Open Sans', sans-serif;

	.infoIcon{
		filter: invert(100%);
	}

	.statistics{
		background: #fff;		
		width: 280px;
		border-radius: 3px;
	}

	.head{
		display: flex;
		justify-content: space-between;		
		border-radius: 3px 3px 0 0;		
		background: #f1ba64;
		padding: 10px 15px 17px;

		.headLeft, .headRight{
			display: flex;
			flex-direction: column;
			color: #fff;
		}

		.headRight{
			align-items: flex-end;
		}

		h1{
			font-size: 14px;
			margin: unset;
			text-transform: uppercase;
		}
		span{
			font-size: 11px;
		}
	}

	button{
		background: none;
		border: none;
		font-size: 9px;
		color: #606060;
		padding: 15px 10px;
		font-family: 'Open Sans', sans-serif;
	}

	button:hover{
		cursor: pointer;
	}

	.legend{
		display: flex;
		justify-content: flex-end;
	}

	.dash{
		display: inline-block;
		width: 11px;
		height: 3px;
		border-radius: 2px;
		margin-right: 8px;
	}

	.red{
		background: #fa7373;
	}

	.blue{
		background: #7ba2ff;
	}

	.grafik{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: calc(100% - 20px);
		height: 81px;
		margin: auto;
		position: relative;
	}

	.grafikBackgroundLines{
		width: 100%;
		height: 1px;
		background: #f2f2f2;
	}

	.grid{
		display: grid;
		grid-template-columns: repeat(7, 1fr);
	}

	.grafikDotsAndLines{
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.dot{
		width: 6px;
		height: 6px;
		border-radius: 50%;
		justify-self: center;
		align-self: end;
	}

	.days{
		width: calc(100% - 20px);
		margin: auto;
		padding: 8px 0 16px;

		span{
			text-transform: uppercase;
			font-size: 9px;
			color: #606060;
			text-align: center;
		}
	}

	// red dots position 

	$r1x: 18px; $r1y: 42%; .r1{ margin-bottom: calc($r1y * 2)}
	$r2x: calc($r1x + 37px); $r2y: 84%; .r2{ margin-bottom: calc($r2y * 2); }
	$r3x: calc($r2x + 37px); $r3y: 70%; .r3{ margin-bottom: calc($r3y * 2); }
	$r4x: calc($r3x + 37px); $r4y: 85%; .r4{ margin-bottom: calc($r4y * 2); }
	$r5x: calc($r4x + 37px); $r5y: 52%; .r5{ margin-bottom: calc($r5y * 2); }
	$r6x: calc($r5x + 37px); $r6y: 40%; .r6{ margin-bottom: calc($r6y * 2); }
	$r7x: calc($r6x + 37px); $r7y: 75%; .r7{ margin-bottom: calc($r7y * 2); }

	// red line position 

	.redLine{
		clip-path: polygon(
			$r1x calc(100% - $r1y),
			$r2x calc(100% - $r2y + 1px),
			$r3x calc(100% - $r3y),
			$r4x calc(100% - $r4y),
			$r5x calc(100% - $r5y - 1px),
			$r6x calc(100% - $r6y - 1px),
			$r7x calc(100% - $r7y + 1px),

			$r7x calc(100% - $r7y + 3px),
			$r6x calc(100% - $r6y + 1px),
			$r5x calc(100% - $r5y + 1px),
			$r4x calc(100% - $r4y + 2px),
			$r3x calc(100% - $r3y + 2px),
			$r2x calc(100% - $r2y + 3px),
			$r1x calc(100% - $r1y + 2px)
		);
	}

	// blue dots position

	$b1x: 18px; $b1y: 23%; .b1{ margin-bottom: calc($b1y * 2)}
	$b2x: calc($b1x + 37px); $b2y: 37%; .b2{ margin-bottom: calc($b2y * 2); }
	$b3x: calc($b2x + 37px); $b3y: 19%; .b3{ margin-bottom: calc($b3y * 2); }
	$b4x: calc($b3x + 37px); $b4y: 31%; .b4{ margin-bottom: calc($b4y * 2); }
	$b5x: calc($b4x + 37px); $b5y: 23%; .b5{ margin-bottom: calc($b5y * 2); }
	$b6x: calc($b5x + 37px); $b6y:  7%; .b6{ margin-bottom: calc($b6y * 2); }
	$b7x: calc($b6x + 37px); $b7y: 20%; .b7{ margin-bottom: calc($b7y * 2); }

	// blue line position

	.blueLine{
		clip-path: polygon(
			$b1x calc(100% - $b1y),
			$b2x calc(100% - $b2y),
			$b3x calc(100% - $b3y),
			$b4x calc(100% - $b4y),
			$b5x calc(100% - $b5y - 1px),
			$b6x calc(100% - $b6y - 1px),
			$b7x calc(100% - $b7y),

			$b7x calc(100% - $b7y - 2px),
			$b6x calc(100% - $b6y - 3px),
			$b5x calc(100% - $b5y - 3px),
			$b4x calc(100% - $b4y - 2px),
			$b3x calc(100% - $b3y - 2px),
			$b2x calc(100% - $b2y - 2px),
			$b1x calc(100% - $b1y - 2px)
		);
	}
}